@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
  @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-primary {
  @apply bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition;
}

